<!doctype html>
<html ng-app="demoApp" style="height: 100%">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="angular.min.js"></script>
    <script src="appctrl.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">	
    <link rel="stylesheet" href="app.css">
    <title>EOS HackAttack</title>
   <script src="./eos.min.js"></script>
  </head>
  <body ng-controller="appController" style="height: 100%">
    <div style="height: 100%">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">EOS Brake</a>
          <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Sign out</a>
            </li>
          </ul>
        </nav>
        <div class="container-fluid" style="height: 100%">
            <div class="row" style="margin-top: 40px;height: 100%">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#" ng-class="{'active': menuactive === 'dash'}" ng-click="menucliked('dash')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Concept <span class="sr-only">(current)</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'order'}" ng-click="menucliked('order')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Designs
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"  ng-class="{'active': menuactive === 'integ'}" ng-click="menucliked('integ')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            POC
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'cust'}" ng-click="menucliked('cust')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Manufacture
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'report'}" ng-click="menucliked('report')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            Analytics
                          </a>
                        </li>
                       <!--  <li class="nav-item">
                            <a class="nav-link" href="#"  ng-class="{'active': menuactive === 'integ'}" ng-click="menucliked('integ')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            Integrations
                          </a>
                        </li> -->
                      </ul>
                    </div>
                  </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div ng-if="menuactive==='dash'">
                          <h1> For safe travels, we need authenticated results with our R&D </h1>
                    </div>
                    <div ng-if="menuactive==='order'">
                          <h1> Design of concept:</h1>
                          <ol>
                            <li>  Blueprints </li>
                            <li> Review Status </li>
                            <li> Contract Agreement </li>
                          </ol>    
                    </div>
                    <div ng-if="menuactive==='integ'">
                      <ol>
                        <li>
                            <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'crashtest'}" ng-click="menucliked('crashtest')">
                              <p> Crash Test </p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'durabletest'}" ng-click="menucliked('durabletest')">
                              <p> Durability Test </p>
                            </a>
                       </li>
                       <li>
                          <a class="nav-link"  href="#"  ng-class="{'active': menuactive === 'antilock'}" ng-click="menucliked('antilock')">
                            <p> Braking Distance Test </p>
                          </a>
                       </li>   
                    </div>
                    <div ng-if="menuactive==='durabletest'">
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" ng-model="smartupdateinput.hasDura5kkmtest" ng-true-value=true ng-true-value=false id="dura5kkmtest" ng-change="updatesmart()">
                              <label class="form-check-label" for="dura5kkmtest">
                                  5000KM Test
                              </label>
                          </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="dura10kkmtest" ng-model="smartupdateinput.hasDura10kkmtest" ng-true-value=true ng-true-value=false ng-change="updatesmart()">
                              <label class="form-check-label" for="dura10kkmtest">
                                10000 KM Test
                              </label>
                        </div>
                     </div>   
                     <div ng-if="menuactive==='antilock'">
                     <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="lock10fttest" ng-model="smartupdateinput.hasStop10fttest" ng-true-value=true ng-true-value=false ng-change="updatesmart()">
                              <label class="form-check-label" for="lock10fttest">
                                  10ft Stop Test
                              </label>
                     </div>
                     <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="lock5fttest" ng-model="smartupdateinput.hasStop5fttest" ng-true-value=true ng-true-value=false ng-change="updatesmart()">
                              <label class="form-check-label" for="lock5fttest">
                                   5ft Stop Test
                              </label>
                     </div>
                  </div>
                </main>
            </div>
        </div>
        
        
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>